//input的线太长了，用这句话设定成占总页面长度的三分之一 width:30%
.sign-in{
    width: 380px;
    display: flex;
    flex-direction:column ;
}
.title{
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}